<div class= "playlists">
    <div class="playlist_title">
        {{!-- Will this require a title from my backend? --}}
        <h2>My Playlists</h2>
    </div>
    <div class="playlists_groups">

    </div>
</div>