<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="./src/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<<<<<<< HEAD
  
=======
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery.js"></script>
>>>>>>> f697fc7a61d72cf4ee72c6f0a4fae85eca36cff4
    <title>Offline Library</title>
</head>

<body>

    {{{body}}}

</body>

<script src="./src/js/script.js"></script>

</html>