<nav class="navbar">
  <h1>Offline Beats</h1>
  <h4>
    <button id="login">Login</button>
  </h4>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

      

      <form action="/">
      <h2>Login Page</h2>
        <label for="Uname">Username:</label><br />
        <input type="text" id="Uname" name="Uname" value="Username" /><br />
        <label for="password">Password:</label><br />
        <input type="text" id="password" name="Password" value="password" /><br
        /><br />
        <input id="subbmit" type="submit" value="Submit" />
      </form>
    </div>

  </div>

</nav>

<div class='container intro'>
    <h5 class='col-11 col-sm-10 col-md-10 col-lg-9 col-xl-9'>
        This spotify library app is an online tool to help your music stay offline. We will help you back up your music
        to other formats that are outside of spotify and can be saved directly to your computer. It's the perfect tool
        to keep your music safe in the event that spotify is unavailable. Who knows what could happen? Along the way, we
        will show you stats about your playlists' music, such as the danceability and the energy of the playlist. Click
        the button below to login to spotify and see your playlists!
    </h5>
    <!-- Need to be logged in first before you see this button -->
    <button id="seePlaylists-btn" class='seePlaylists'>See My Playlists!</button>
</div>