<div class="library">
    <div class="library_title">
        {{!-- Will this require a title from my backend? --}}
        <h2>Library</h2>
    </div>

    <div>
        <a href="/spotify-auth"><span class="material-icons" style="font-size: 90px; color: black;">add</span></a>
    </div>

    <div class="playlists_groups">
        {{!-- Waiting for back-end to finish linking a route to this page with json data --}}
        {{#with albums}}
        <h2>{{title}}</h2>
        <img src={{image_url}} />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        {{!-- image_url
        name of album
        description of album --}}
        {{/with}}
    </div>
</div>