<nav class='navbar'>
    <h1>Offline Beats</h1>
  </nav>
    
  <div id="myModal" class='container login-modal col-9'>
    <h2>Login to your Account</h2>
    <!-- Modal content  -->
    <div class="modalContent">
      <input class='input-field' type='text' name="userName" id="uName" value="Username"></br>
      <input class='input-field' type='text' name='password' id='pWord' value="Password"></br>
      <button type='submit' class='login-submit col-3' id='loginButton'>Go!</button>
    </div>
  </div>