<nav class='navbar'>
    <h1>Offline Beats</h1>
</nav>

<div id="myModal" class='container modal'>
  <!-- Modal content -->
  <div class="modal-content">
    <form action="/">
    <h2>Login Page</h2>
      <label for="Uname">Username:</label><br />
      <input type="text" id="Uname" name="Uname" value="Username" /><br />
      <label for="password">Password:</label><br />
      <input type="text" id="password" name="Password" value="password" /><br
      /><br />
      <input id="submit" type="submit" value="Submit" />
    </form>
  </div>
</div>