<div class="playlists">
    <div class="playlist_title">
        {{!-- Will this require a title from my backend? --}}
        <h2>Playlists</h2>
    </div>
    <div class="playlists_groups">
        {{!-- Waiting for back-end to finish linking a route to this page with json data --}}
        {{#with albums}}
        <h2>{{title}}</h2>
        <img src={{image_url}} />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        {{!-- image_url
        name of album
        description of album --}}
        {{/with}}
    </div>
</div>