<nav class="library-nav">

    <div class="library_title library-nav-item">
        <a href="/library">
            <h2 class='libTitle'>Library</h2>
        </a>
    </div>

    <div class="addPlaylist library-nav-item">
        <a style="display: flex; align-items: center;" href="/spotify-auth"><span
                style="font-size:36px; color:#f5f5f5;">Add a Playlist</span><span class="material-icons"
                style="font-size: 90px; color: #f5f5f5;">add</span>
        </a>
    </div>

</nav>

<div class="confirmation-box" id="confirmation" style="display:block;">

    {{#each playlist}}

    <div class='playlist-head playlist-head-item'>
        <img id="playlist-artwork" style="width: 300px; height: 300px; object-fit:cover;" src={{playlist_artwork}}>
        <p id="playlist-name">{{playlist_name}}</p>
        <button id='deletePlaylist-playlistPage' class='playlistBtn'>Delete Playlist</button>
        <p id={{id}}></p>
    </div>

    <div id="playlist-page-songs" class="song-confirmation-box">
    </div>

    {{/each}}

</div>

<script src="/js/playlist-page.js"></script>

<script>

    let pathName = window.location.pathname;
    playlistId = pathName.slice(10)

    populatePlaylist();

</script>