<div class='container-fluid search'>
    <div class='searchBar col-6'>
        {{!-- <label for="fname">PLAYLIST URL:</label> --}}
        <input type="text" id="playlistUrlSearch" name="fname" placeholder='Playlist URL'>
        <button id="btn">Submit</button>
    </div>

    <div id="confirmation">

        <div class='playlist-head'>
            <img id="playlist-artwork">
            <p id="playlist-name"></p>
            <button id='deletePlaylist' class='playlistBtn'>Delete Playlist</button>
            <button id='savePlaylist' class='playlistBtn'>Save Playlist</button>
        </div>

        <div id='songSearch'>
            <input id="searchForSong" type='text' class='searchBar' placeholder='Search for a Song'>
            <button type='submit' class='searchSubmit'>&#128269;</button>
        </div>

        <div id="songs" style="overflow: scroll;">
        </div>

    </div>
>>>>>>> d03ee6e9d99bac0ef2d3f0a496e43b2cbaff215f
</div>

<script type="text/javascript">

</script>

{{!-- window.location.href = "/spotify-playlist/" + playlistID; --}}