<div>
    <label for="fname">PLAYLIST URL:</label>
    <input type="text" id="playlistUrlSearch" name="fname">
    <button id="btn">Submit</button>
    <button id="save-btn">Confirmation</button>
</div>

<div id="confirmation">

    <div>
        <img id="playlist-artwork" style="display:none;">
        <p id="playlist-name"></p>
    </div>

    <div id="songs" style="height: 400px; width: 300px; overflow: scroll;">
    </div>

</div>

<script type="text/javascript">
   



       

</script>

{{!-- window.location.href = "/spotify-playlist/" + playlistID; --}}