* {
  margin: 3px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/* Background Image */
body {
  background-image: linear-gradient(to bottom, rgba(29, 185, 84, 0.5), rgba(0, 0, 0, 0.9)), url("../images/pexels-vitaly-vlasov-1516406.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: absolute;
  background-position-y: bottom;
  background-position-x: 50%;
  background-attachment: fixed;
  
}

nav {
  color: #f5f5f5;

}
nav h4 a {
  color: #f5f5f5;
}
nav h4 a:hover {
  color:#f5f5f5;
}

/* Intro Section */
.intro {
  text-align: center;
  margin: 5% 50% 80% 50%;
}
.intro h5 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  color: #f5f5f5;
  line-height: 35px;
  font-weight:normal;
  font-size: 24px;
}

/* Main Button */
.seePlaylists {
  padding: 10px 25px;
  margin-top: 10px;
  color:#f5f5f5;
  background-color: #1db954ff;
  border-radius: 5px;
  border-style: none;
  font-size: 36px;
  font-weight: 600;
}

/* Modal for Login Page */
.login-modal {
  background-color: black;
  opacity: 75%;
  text-align:center;
  border-radius: 10px;
  color: #f5f5f5;
  padding: 5px;
}
.modalContent {
  background-color: rgba(0, 0, 0, 0.75);
}
.input-field {
  color: grey;
  border-radius: 5px;
  width: 90%;
  margin: 5px auto;
}
.login-submit {
  margin: 5px auto;
  background-color: #1db954ff;
  border-radius: 5px;
  font-weight: bold;
  padding: 3px 0px;
  font-size: 20px;
  
}

/* Search URL */
.searchBar {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ============================== LIBRARY PAGE ============================== */

.card-text-css {
  text-align: center;
  background: rgb(162,171,163);
  background: linear-gradient(140deg, rgba(162,171,163,0.25) 0%, rgba(128,179,122,0.5) 100%);
  width: 100%;
} 

.library-nav {
  display:flex;
}

.library-nav-item {
  flex:auto;
}

.addPlaylist a {
  float: right;
}
.addPlaylist a:hover {
  background-color:rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  text-decoration: none;
}

.library-img div:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(50%); /* FF 35+ */
}

#btn {
  background-color: #1db954ff;
  color: #f5f5f5;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  border-width: 0;
}
#playlistUrlSearch {
  color:rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border-width: 0;
}

.libTitle {
  color: #f5f5f5;
  font-size: 48px;
  margin-left: 15px;
}

.playlist-head {
  display: flex;
  flex-direction: row;
}
#playlist-name {
  font-size: 64px;
  color: #f5f5f5;
  font-weight: bold;
  margin-top: auto;
  padding: 3px 8px;
}
#playlist-artwork {
  margin: 5px;
  border-radius: 10px;
}
.playlistBtn {
  background-color: #1db954ff;
  font-size: 24px;
  border-radius: 7px;
  color:#f5f5f5;
  height: 20%;
  margin: auto 10px 25px 10px;
  padding: 8px 8px;
  border-width: 0;
}

/* Search Bar for a Single Song in a Playlist */
#songSearch {
  display: flex;
  align-items: center;
}
#searchForSong {
  margin: auto 0;
  color:rgba(0, 0, 0, 0.6);
  border-radius: 8px 0 0 8px;
  border-width: 0;
}
.searchSubmit {
  background-color: #1db954ff;
  border-radius: 0 8px 8px 0;
  height: 38px;
  border-width: 0;
}

#deletePlaylist {
  background-color: rgba(30, 20, 10, 1);
}

#songs {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#songs::-webkit-scrollbar {
  display: none;
}
#songs p {
  margin: 10px 0px;
  font-size: 24px;
  color: #f5f5f5;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1db954ff;
  border-radius: 7px;
}

/* Media queries */
@media (max-width: 590px) {
  body {
    background-position: absolute;
    background-position-x: 50%;
    background-position-y: bottom;
    background-size: 700px 700px;
  }
  .navbar h1 {
    text-align: center;
  }

}

@media (max-width: 720px) {
  body {
    background-size: 300%;
  }
}

@media (max-width: 1080px) {
  body {
    background-size: 300%;
  }
}